include ChangeLog
include README.md
include MANIFEST.in pylintrc
include Authors
include HACKING.rst
include LICENSE
include setup.cfg
include babel.cfg tox.ini
include barbican/tests/api/resources_test.py
include barbican/model/migration/README
include barbican/model/migration/alembic.ini
include barbican/model/migration/alembic_migrations/script.py.mako
include barbican/model/migration/alembic_migrations/versions/*.py
include barbican/model/migration/alembic_migrations/versions/README
graft tools
graft etc
