alembic>=0.4.1
Babel>=1.3
eventlet>=0.13.0
falcon>=0.1.6,<0.1.7
iso8601==0.1.8
jsonschema>=1.3.0,!=1.4.0
kombu>=2.4.8
netaddr>=0.7.6
oslo.config>=1.2.0
oslo.messaging>=1.3.0a4
PasteDeploy>=1.5.0
Paste
pbr>=0.5.21,<1.0
pycrypto>=2.6
pysqlite
python-keystoneclient>=0.4.1
SQLAlchemy>=0.7.8,<=0.9.99
stevedore>=0.12
WebOb>=1.2.3,<1.3
wsgiref>=0.1.2

# TODO: Get this working again...PyKCS11>=1.2.4
