Source: barbican
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: John Wood <john.wood@rackspace.com>
Build-Depends: debhelper (>= 7.0.50),
 po-debconf,
 python-all (>= 2.6.6-3~),
 sqlite3,
 curl,
 pep8,
 python-boto,
 python-crypto,
 python-eventlet,
 python-httplib2 (>= 0.6.0),
 python-iso8601,
 python-kombu,
 python-novaclient,
 python-migrate,
 python-mox,
 python-nose,
 python-paste,
 python-pastedeploy,
 python-routes,
 python-setuptools,
 python-sphinx,
 python-sqlalchemy (>= 0.7.4),
 python-pysqlite2,
 python-swift,
 python-webob,
 python-xattr,
 procps
Standards-Version: 3.9.3
X-Python-Version: >= 2.6
Homepage: http://launchpad.net/barbican
Vcs-Browser: https://github.com/jfwood/barbican
Vcs-Git: git://github.com/jfwood/barbican.git

Package: python-barbican
Architecture: amd64
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-boto,
 python-crypto,
 python-eventlet,
 python-httplib2 (>= 0.6.0),
 python-iso8601,
 python-kombu,
 python-migrate,
 python-pastedeploy,
 python-routes,
 python-sqlalchemy (>= 0.7.4),
 python-pysqlite2,
 python-swift,
 python-webob,
 python-xattr
Description: OpenStack Key Management Service - Python client library
 The Barbican project provides services for storing and retrieving sensitive 
 client information such as encryption keys.
 .
 This package contains the Python client libraries.

Package: barbican-common
Architecture: amd64
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-barbican (= ${binary:Version}),
 adduser,
 debconf,
Description: OpenStack Key Management Service - common files
 The Barbican project provides services for storing and retrieving sensitive 
 client information such as encryption keys.
 .
 This package contains common files for Barbican.

Package: barbican-api
Architecture: amd64
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 barbican-common (= ${binary:Version})
Description: OpenStack Key Management Service - API Server
 The Barbican project provides services for storing and retrieving sensitive 
 client information such as encryption keys.
 .
 This package contains the Barbican API Server.

Package: barbican
Architecture: amd64
Section: python
Depends: barbican-api (= ${binary:Version}),
 ${misc:Depends}
Description: OpenStack Key Management Service - metapackage
 The Barbican project provides services for storing and retrieving sensitive 
 client information such as encryption keys.
 .
 This is a dependency package to install all of the Cloudkeep suite.
