#!/usr/bin/make -f

# Verbose mode
#export DH_VERBOSE=1

%:
	dh $@ --with python2

#ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
#override_dh_auto_test:
#	bash run_tests.sh -N || true
#endif

override_dh_auto_install:
	python setup.py install --root=debian/barbican-common --install-layout=deb

# TBD: Use this when we are ready for sphinx docs
override_dh_auto_build:

#	dh_auto_build
#ifeq (,$(findstring nodocs, $(DEB_BUILD_OPTIONS)))
#	mkdir -p doc/build
#	python setup.py build_sphinx
#else
#	mkdir -p doc/build/html
#endif

override_dh_python2:
	dh_python2 --no-guessing-deps

override_dh_auto_clean:
	dh_auto_clean
# TDB: OpenStack:	debconf-updatepo
# TBD: OpenStack:	rm -rf doc/build
	rm -rf build barbican.egg-info 
# TBD: OpenStack:	po/barbican.pot barbican/vcsversion.py
	rm -rf barbican.sqlite

# TBD: Revisit this for OpenStack usage...probably can't do the 'dev' for snapshots approach anymore!
#get-vcs-source:
#	git remote add upstream git://github.com/jfwood/barbican.git || true
#	git fetch upstream
##        cd barbican
##        VER=$(python -c 'import barbican.version; print barbican.version.__version__')
#	if ! [ -f ../glance_2012.1.orig.tar.xz ] ; then git archive --prefix=glance-2012.1/ 2012.1 | xz >../glance_2012.1.orig.tar.xz ; fi
#	if ! git checkout master ; then \
#		echo "No upstream branch: checking out" ; \
#		git checkout -b master upstream/master ; \
#	fi
#	git checkout debian/unstable
