{% extends 'layout.html' %}

{% block body %}
		<script type="text/javascript" charset="utf-8">
			/* Data set - can contain whatever information you want */
			var aDataSet = [
			];
  			var oTable;
			
			$(document).ready(function() {

                                $('#form').submit(function(){
					var sData = oTable.$('input').serialize();
				});

				$('#dynamic').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>' );
				$('#example').dataTable( {
					"bProcessing": true,
					"sAjaxSource": "/api/allagents/",
					"aoColumns": [
						{ "sTitle": "ID", "sWidth":"5%" },
						{ "sTitle": "UUID", "sClass": "center", "sWidth":"25%" },
						{ "sTitle": "Tenant ID", "sWidth":"5%" },
						{ "sTitle": "Hostname", "sWidth":"5%" },
						{ "sTitle": "OS Version", "sWidth":"10%" },
						{ "sTitle": "Agent Version", "sWidth":"4%"},
						{ "sTitle": "Tags", "sWidth":"35%" },
						{ "sTitle": "Paired", "sWidth":"5%" },
					]
				} );
                               oTable = $('#example').dataTable();	
			} );
		</script>
<h1> Agent List </h1>
<br>
<form id='form' method='POST'>
   <div style='text-align:right'> <button type="submit" class="btn btn-primary"> Update Pairing </button>
   </div>
<div id="dynamic"></div>
   <br/>
   <div style='text-align:right'> <button type="submit" class="btn btn-primary"> Update Pairing </button>
   </div>
</form>
{% endblock %}
