{% extends 'layout.html' %}

{% block body %}
		<script type="text/javascript" charset="utf-8">
			/* Data set - can contain whatever information you want */
			var aDataSet = [
			];
			
			$(document).ready(function() {
				$('#dynamic').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>' );
				$('#example').dataTable( {
					"bProcessing": true,
					"sAjaxSource": "/api/alllogs/",
					"aoColumns": [
						{ "sTitle": "ID", "sWidth":"5%" },
						{ "sTitle": "Received Time", "sClass": "center", "sWidth":"20%" },
						{ "sTitle": "Tenant ID", "sWidth":"5%" },
						{ "sTitle": "Key", "sWidth":"5%" },
						{ "sTitle": "Agent ID", "sWidth":"30%" },
						{ "sTitle": "Severity", "sWidth":"4%"},
						{ "sTitle": "Message", "sWidth":"30%" },
					]
				} );	
			} );
		</script>
<h1> Event logs </h1>
<br>
<div id="dynamic"></div>
{% endblock %}
