redirectmatch 301 ^/barbican/([^/]+)/admin-guide-cloud/access_control.html$ ^/barbican/$1/admin/access_control.html
redirectmatch 301 ^/barbican/([^/]+)/admin-guide-cloud/barbican_manage.html$ ^/barbican/$1/admin/barbican_manage.html
redirectmatch 301 ^/barbican/([^/]+)/admin-guide-cloud/database_cleaning.html$ ^/barbican/$1/admin/database_cleaning.html
redirectmatch 301 ^/barbican/([^/]+)/admin-guide-cloud/index.html$ ^/barbican/$1/admin/index.html
redirectmatch 301 ^/barbican/([^/]+)/upgrade/index.html$ ^/admin/upgrade.html
redirectmatch 301 ^/barbican/([^/]+)/setup/audit.html$ ^/configuration/audit.html
redirectmatch 301 ^/barbican/([^/]+)/setup/index.html$ ^/configuration/index.html
redirectmatch 301 ^/barbican/([^/]+)/setup/keystone.html$ ^/configuration/keystone.html
redirectmatch 301 ^/barbican/([^/]+)/setup/noauth.html$ ^/configuration/noauth.html
redirectmatch 301 ^/barbican/([^/]+)/setup/plugin_backends.html$ ^/configuration/plugin_backends.html
redirectmatch 301 ^/barbican/([^/]+)/setup/troubleshooting.html$ ^/configuration/troubleshooting.html
redirectmatch 301 ^/barbican/([^/]+)/contribute/architecture.html$ ^/contributor/architecture.html
redirectmatch 301 ^/barbican/([^/]+)/contribute/database_migration.html$ ^/contributor/database_migration.html
redirectmatch 301 ^/barbican/([^/]+)/contribute/dataflow.html$ ^/contributor/fataflow.html
redirectmatch 301 ^/barbican/([^/]+)/contribute/dependencies.html$ ^/contributor/dependencies.html
redirectmatch 301 ^/barbican/([^/]+)/setup/dev.html$ ^/contributor/dev.html
redirectmatch 301 ^/barbican/([^/]+)/steup/devstack.html$ ^/contributor/devstack.html
redirectmatch 301 ^/barbican/([^/]+)/contribute/getting_involved.html$ ^/contributor/getting_involved.html
redirectmatch 301 ^/barbican/([^/]+)/plugin/crypto.html$ ^/contributor/plugin/crypto.html
redirectmatch 301 ^/barbican/([^/]+)/plugin/index.html$ ^/contributor/plugin/index.html
redirectmatch 301 ^/barbican/([^/]+)/pluhin/secret_store.html$ ^/contributor/plugin/secret_store/html
redirectmatch 301 ^/barbican/([^/]+)/contribute/structure.html$ ^/contributor/structure.html/
redirectmatch 301 ^/barbican/([^/]+)/testing.html$ ^/contributor/testing.html

